.main_top {
  margin-left: 50px;
  width: 1150px;
  height: 400px;
}
.containers {
  border-top: 1px solid #eee;
  width: 90%;
  margin-top: 20px;
  margin-left: 40px;
}
.common_title {
    padding: 24px 0px 0px 100px;
    font-weight: normal;
}
.content {
  padding : 25px 0 0 50px;
  float: left;
  position: relative;
  width: 855px;
}
.aside {
  float: right;
}
/*login_area start*/
.login_area {
  float: right;
  width : 295px;
  height: 155px;
  /*margin-top: 20px;*/
  /*margin-right: 93px;*/
}
.login {
  margin-top: 20px;
  margin-left: 75px;
  padding-top: 8px;
  line-height: 40px;
}
.login_btn {
  font-size: 17px;
  width: 135px;
  height: 55px;
  border: solid 1px #e7e7e7;
  background: #e22f26;
  color: white;
}
.user_find {
  margin-top: 15px;
  margin-left: 35px;
  color: #999;
}
.btn_join {
  padding-left: 70px;
  color: black;
  font-size: 18px;
}
.letter {
  margin: 65px 0 0 10px;
}
.letter p {
  font-size: 20px;
  color: black;
  text-align: center;
}
.arti1, .arti2, .arti3 {
  color: #e22f26;
  display: inline-block;
}
.arti1 a, .arti2 a, .arti3 a {
  color: black;
}
.arti1, .arti2 {
  margin-top: 35px;
}
.arti1 {
  margin-left: 40px;
}
.arti2 {
  margin-left: 30px;
}
.arti3 {
  margin-left: 70px;
  margin-top: 10px;
}
/*login_area end*/
/* main_meddle start */
.main_meddle {
  height: 400px;;
}
.meeting_area a {
  color: black;
}
.m_area, .m_hobby {
  border: solid 1px #e7e7e7;
  float:left;
}
.m_area_title , .m_hobby_title {
  text-align: center;
  font-weight: bold;
  color: black;
}read(String userid);
.m_area_contents, .m_hobby_contents {
  margin-top: 20px;
}
.m_area_contents a, .m_hobby_contents a {
  font-size: 13px;
}
/*main_meddle end*/
.editor_list  {
  padding-top: 0rem !important;
  padding-left: 2rem;
}
.news_area {
  width: 1263px;
  height: 180px;
  border-top: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}
.main_bottom {
  margin-top: 50px;
}
/* notice start */
.notice {
  margin-left: 180px;
  float: left;
}
.notice a {
  color: black;
}
.notice_list {
  margin-top: 20px;
}
.notice_list li {
    font-size: 14px;
}
.n_li_title {
  float: left;
}
.n_li_date {
  float: left;
  margin-left: 80px;
}
.notice p {
  float: right;
}
/* notice end */

/* faq start */
.faq {
  margin-left: 30px;
  float: left;
}
.answer_i {
  width: 200px;
  height: 180px;
  float: left;
  background-color: #274784;
  padding-bottom: 30px;
}
.faq_i {
  width: 200px;
  height: 180px;
  float: left;
  background-color: #434a54;
}
.faq_img {
  margin-top: 20px;
  margin-left: 50px;
  width: 105px;
  height: 100px;
}
.tell_img {

  margin-left: 0px;
  width: 200px;
  height: 180px;
}
.answer_img {
  margin-top: 20px;
  margin-left: 50px;
  width: 105px;
  height: 100px;
}
.faq_font {
  color: white;
  font-size: 30px;
  margin-left: 70px;
}
.answer_font {
  color: white;
  font-size: 30px;
  margin-left: 50px;
}
/* faq end */
