<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ync.project.admin.mapper.AdminQuestionMapper">

	<resultMap type="com.ync.project.domain.QuestionVO" id="questionMap">
		<id property="question_num" column="question_num"/>
		<result property="question_num" column="question_num"/>
		<result property="title" column="title"/>
		<result property="contents" column="contents"/>
		<result property="write_date" column="write_date"/>
		<result property="files" column="files"/>
		<result property="userid" column="userid"/>
		<result property="popup" column="popup"/>
	</resultMap>
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							answer_whether = 'N'
						</when>
						<when test="type == 'Y'.toString()">
							answer_whether = 'Y'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 게시판 리스트 -->
	<select id="getList" resultType="com.ync.project.domain.QuestionVO">
	<![CDATA[
		SELECT	*
		FROM	teamb_1to1_question
		WHERE	question_num > 0
		]]>
	</select>
	
	<!-- 게시글 상세 보기 -->
	<select id="read" resultType="com.ync.project.domain.QuestionVO">
	<![CDATA[
		SELECT *
		FROM   teamb_1to1_question
		WHERE  question_num = #{question_num}
		]]>
	</select>
	
	<!-- 답변 달기 -->
	<insert id="insertSelectKey">
	<![CDATA[
		UPDATE teamb_1to1_question
		SET answer = #{answer}, answer_writer = #{answer_writer}, answer_date = #{answer_date}, answer_whether = 'Y'
		WHERE question_num = #{question_num}
	]]>
	</insert>
	
	<!-- 페이징 -->
	<select id="getListWithPaging" resultType="com.ync.project.domain.QuestionVO">
	<![CDATA[
	SELECT  question_num,
			title,
			write_date,
			contents,
			userid,
			files,
			answer_whether
	FROM    (SELECT /*+INDEX_DESC(teamb_1to1_question xpkteamb_1to1_question) */
			rownum rn,
			question_num,
			title,
			write_date,
			contents,
			userid,
			files,
			answer_whether
			FROM teamb_1to1_question
			WHERE 
	]]>
	<include refid="criteria"></include> 
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			) b
  		WHERE rn > (#{pageNum} -1) * #{amount}   
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from teamb_1to1_question where 
		
		<include refid="criteria"></include> 
		
		question_num > 0
		
	</select>
</mapper>
