<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ync.project.front.mapper.EventMapper">

	<!-- 게시판 리스트 -->
	<select id="getList" resultType="com.ync.project.domain.EventVO">
	<![CDATA[
		SELECT	*
		FROM	teamb_event
		WHERE	SYSDATE >= event_start_date
		AND SYSDATE < event_end_date
		]]>
	</select>
	
	<!-- 게시글 상세 보기 -->
	<select id="read" resultType="com.ync.project.domain.EventVO">
		SELECT *
		FROM   teamb_event
		WHERE  event_num =	#{event_num}
	</select>
	
	<sql id="criteria"></sql>
	<!-- 페이징 -->
	<select id="getListWithPaging" resultType="com.ync.project.domain.EventVO">
	<![CDATA[
	SELECT  event_num,
			title,
			event_start_date,
			event_end_date,
			contents,
			image
	FROM    (SELECT /*+INDEX_DESC(teamb_event xpkteamb_event) */
			rownum rn,
			event_num,
			title,
			event_start_date,
			event_end_date,
			contents,
			image
			FROM teamb_event
			WHERE 
  		]]>
		<include refid="criteria"></include> 
      
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			)
  		WHERE rn > (#{pageNum} -1) * #{amount}   
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from teamb_event where 
		
		<include refid="criteria"></include> 
		
		event_num > 0
		
	</select>
</mapper>
