<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ync.project.front.mapper.NoticeMapper">

	<!-- 검색 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 게시판 리스트 -->
	<select id="getList" resultType="com.ync.project.domain.NoticeVO">
	<![CDATA[
		SELECT *
		FROM   teamb_notice
		WHERE  notice_num > 0 
		]]>
	</select>
	
	<!-- 게시글 상세 보기 -->
	<select id="read" resultType="com.ync.project.domain.NoticeVO">
		SELECT *
		FROM   teamb_notice
		WHERE  notice_num =	#{notice_num}
	</select>
	
	<!-- 페이징 -->
	<select id="getListWithPaging" resultType="com.ync.project.domain.NoticeVO">
	<![CDATA[
	SELECT  notice_num,
			title,
			write_date,
			userid
	FROM    (SELECT /*+INDEX_DESC(teamb_notice xpkteamb_notice) */
			rownum rn,
			notice_num,
			title,
			write_date,
			userid
			FROM teamb_notice
			)
	]]>
	</select>
</mapper>
