<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ync.project.front.mapper.QuestionMapper">
	
	<!-- 게시글 상세 보기 -->
	<select id="read" resultType="com.ync.project.domain.QuestionVO">
		SELECT question_num,
			   userid,
			   title,
			   contents,
			   files,
			   write_date,
			   answer_whether,
			   answer,
			   answer_writer,
			   answer_date,
			   category,
			   DECODE(answer_whether, 'Y' , '처리완료' ,
                              	   	  'N' , '처리중') YN
		FROM   teamb_1to1_question
		WHERE  question_num = #{question_num}
	</select>
	
	<!-- 글 작성 -->
	<insert id="insertSelectKey">

		<selectKey keyProperty="question_num" order="BEFORE"
			resultType="long">
			select TEAMB_QUESTION_NUM.nextval from dual
		</selectKey>

		INSERT INTO teamb_1to1_question (question_num,
										 category,
										 userid, 
									     title, 
										 contents, 
									 	 files, 
										 write_date)
		VALUES (#{question_num},
				#{category}, 
				#{userid}, 
				#{title}, 
				#{contents}, 
				#{files}, 
				SYSDATE)
	</insert>
	
	<!-- 수정 -->
	<update id="update">
		UPDATE  teamb_1to1_question
		SET     title= #{title},
				category=#{category},
				contents=#{contents},
				userid = #{userid},
				write_date = sysdate,
				files = #{files}
		WHERE   question_num  = #{question_num}
	</update>
	
	<sql id="criteria"></sql>
	<!-- 페이징 -->
	<select id="getListWithPaging" resultType="com.ync.project.domain.QuestionVO">
	<![CDATA[
	SELECT  question_num,
			category,
			title,
			write_date,
			answer_whether,
			DECODE(answer_whether, 'Y' , '처리완료' ,
                              	   'N' , '처리중') YN
	FROM    (SELECT /*+INDEX_DESC(teamb_1to1_question xpkteamb_1to1_question) */
			rownum rn,
			question_num,
			category,
			title,
			write_date,
			answer_whether
			FROM teamb_1to1_question
			WHERE
  		]]>
		<include refid="criteria"></include>
      
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			)
  		WHERE rn > (#{pageNum} -1) * #{amount}   
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from teamb_1to1_question where 
		
		<include refid="criteria"></include> 
		
		question_num > 0
		
	</select>
</mapper>