.pagination{margin-top:20px; text-align: center; height: 37px; line-height:37px;}
.pagination a{display:inline-block; border:1px solid #f7f7f7; height:35px; width:35px; text-decoration:none; font-size:15px; color:#898989;background:#f7f7f7;}
