<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ync.project.admin.mapper.AdminManagerMapper">

	<resultMap type="com.ync.project.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="profile" column="profile"/>
		<result property="hobby" column="hobby"/>
		<result property="adress" column="adress"/>
		<collection property="authList" resultMap="authMap">
		</collection> 
	</resultMap>
	
	<resultMap type="com.ync.project.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 어드민 계정 등록 -->
	<insert id="insertSelectKey">
	<![CDATA[
				insert into teamb_member (name, 
								  userid, 
								  userpw, 
								  phone, 
								  email, 
								  profile, 
								  adress, 
								  hobby,
								  auth)
		values (#{name},
				#{userid},
				#{userpw},
				#{phone},
				#{email},
				#{profile},
				#{adress},
				#{hobby},
				'ROLE_ADMIN')
		]]>
	</insert>
	
	<!-- 페이징 -->
	<select id="getListWithPaging" resultMap="memberMap">
	<![CDATA[
	SELECT  name,
			userid,
			email,
			phone,
			auth
	FROM    (SELECT /*+INDEX_DESC(teamb_member xpkteamb_member) */
			rownum rn,
			name,
			userid,
			email,
			phone,
			auth
			FROM teamb_member
			WHERE auth = 'ROLE_ADMIN'
			AND
	]]>
	<include refid="criteria"></include> 
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			) b
  		WHERE rn > (#{pageNum} -1) * #{amount}   
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from teamb_member where 
		
		<include refid="criteria"></include> 
		
		auth = 'ROLE_ADMIN'
		
	</select>
	
	<!-- 어드민 계정 정보 상세 보기 -->
	<select id="read" resultMap="memberMap">
	<![CDATA[
		SELECT *
		FROM   teamb_member
		WHERE  userid = #{userid}
		AND    auth = 'ROLE_ADMIN'
		]]>
	</select>
	
	<update id="update">
		update teamb_member
		set name= #{name}, phone = #{phone}, email = #{email}
		where userid = #{userid}
	</update>
	
	<delete id="delete">
		delete teamb_member where userid = #{userid}
	</delete>
	
</mapper>
