<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ync.project.front.mapper.MeetingMainMapper">
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="cri.typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{cri.keyword}||'%'  
						</when>
						<when test="type == 'C'.toString()">
							contents like '%'||#{cri.keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							userid like '%'||#{cri.keyword}||'%'
						</when>
						<when test="type == 'G'.toString()">
							category like '%'||#{cri.keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 모임 정보 -->
	<select id="meeting_Read" resultType="com.ync.project.domain.MeetingVO">
	<![CDATA[
		SELECT	MEETING_NAME,
				MEETING_PROFILE,
				INTRODUCE,
				MEETING_NUM,
				MEETING_HOBBY,
				MEETING_ADRESS
		FROM	TEAMB_MEETING
		WHERE	MEETING_NUM = #{meeting_Num}
		]]>
	</select>
	
	<!-- 최근 정모 -->
	<select id="appointment_Read" resultType="com.ync.project.domain.AppointmentVO">
	<![CDATA[				
		SELECT	TITLE,
				APPOINTMENT_DATE,
				APPOINTMENT_PLACE,
				APPOINTMENT_NUM
		FROM	TEAMB_APPOINTMENT
		WHERE	MEETING_NUM = #{meeting_Num}
				AND APPOINTMENT_NUM = ( SELECT	MAX(APPOINTMENT_NUM)
										FROM	TEAMB_APPOINTMENT
										WHERE	MEETING_NUM = #{meeting_Num})
		]]>
	</select>
	
	<!-- 모임 회원 -->
	<select id="getList" resultType="com.ync.project.domain.Meeting_MemberVO">
	<![CDATA[
		SELECT		USERID,
					JOIN_DATE
		FROM		TEAMB_MEETING_MEMBER
		WHERE		MEETING_NUM = #{meeting_Num}
		ORDER BY	JOIN_DATE
		]]>
	</select>
	
	<!-- 모임 생성 -->
	<insert id="meetingCreate">
	<![CDATA[
		INSERT INTO TEAMB_MEETING ( MEETING_NUM,
									INTRODUCE,
									USERID,
									MEETING_PROFILE,
									MEETING_NAME,
									MEETING_ADRESS,
									MEETING_HOBBY)
		VALUES	(	TEAMB_MEETING_NUM.NEXTVAL,
					#{introduce},
					#{userid},
					#{meeting_Profile},
					#{meeting_Name},
					#{meeting_Adress},
					#{meeting_Hobby})
		]]>
	</insert>
	
	<!-- 가장 큰 모임 번호 -->
	<select id="getMeetingNum" resultType="com.ync.project.domain.MeetingVO">
	<![CDATA[
		SELECT	MEETING_NUM
		FROM	TEAMB_MEETING
		WHERE	MEETING_NUM = ( SELECT	MAX(MEETING_NUM)
								FROM	TEAMB_MEETING)
		]]>
	</select>
	
	<!-- 모임인원수 -->
	<select id="getCount"  resultType="int">
	<![CDATA[
		SELECT	COUNT(JOIN_CODE) AS MEETING_MEMEBER_COUNT
		FROM	TEAMB_MEETING_MEMBER
		WHERE	MEETING_NUM = #{meeting_Num}
		]]>
	</select>
	
	<!-- 모임 수정 -->
	<update id="meetingModify">
	<![CDATA[
		UPDATE	TEAMB_MEETING
		SET		INTRODUCE = #{introduce},
				MEETING_PROFILE = #{meeting_Profile},
				MEETING_NAME = #{meeting_Name},
				MEETING_ADRESS = #{meeting_Adress},
				MEETING_HOBBY = #{meeting_Hobby}
		WHERE	MEETING_NUM = #{meeting_Num}
		]]>
	</update>
	
	<!-- 정모 목록 -->
	<select id="appointmentList" resultType="com.ync.project.domain.AppointmentVO">
	<![CDATA[
		SELECT		*
		FROM		TEAMB_APPOINTMENT
		WHERE		MEETING_NUM = #{meeting_num}
		ORDER BY	APPOINTMENT_NUM DESC
		]]>
	</select>
	
	<!-- 정모 작성 -->
	<insert id="writeAppointment">
	<![CDATA[
		INSERT INTO TEAMB_APPOINTMENT (	APPOINTMENT_NUM,
										TITLE,
										APPOINTMENT_DATE,
										APPOINTMENT_PLACE,
										CONTENTS,
										MAX_PEOPLE,
										WRITE_DATE,
										USERID,
										MEETING_NUM)
		VALUES	(	#{appointment_num},
					#{title},
					#{appointment_date},
					#{appointment_place},
					#{contents},
					#{max_people},
					SYSDATE,
					#{userid},
					#{meeting_num})
		]]>
	</insert>
	
	<!-- 가장 큰 정모 번호 -->
	<select id="getAppointmentNum" resultType="com.ync.project.domain.AppointmentVO">
	<![CDATA[
		SELECT	APPOINTMENT_NUM
		FROM	TEAMB_APPOINTMENT
		WHERE	APPOINTMENT_NUM = ( SELECT	MAX(APPOINTMENT_NUM)
									FROM	TEAMB_APPOINTMENT)
		]]>
	</select>
	
	<!-- 정모 상세 -->
	<select id="getAppointmentRead" resultType="com.ync.project.domain.AppointmentVO">
	<![CDATA[
		SELECT		*
		FROM		TEAMB_APPOINTMENT
		WHERE		APPOINTMENT_NUM = #{appointment_num}
		]]>
	</select>
	
	<!-- 정모 수정 -->
	<update id="appointmentModify">
	<![CDATA[
		UPDATE	TEAMB_APPOINTMENT
		SET		TITLE = #{title},
				APPOINTMENT_DATE = #{appointment_date},
				APPOINTMENT_PLACE = #{appointment_place},
				CONTENTS = #{contents},
				MAX_PEOPLE = #{max_people}
		WHERE	APPOINTMENT_NUM = #{appointment_num}
		]]>
	</update>
	
	<!-- 정모 삭제 -->
	<delete id="appointmentDelete">
		DELETE	TEAMB_APPOINTMENT
		WHERE	APPOINTMENT_NUM = #{appointment_num}
	</delete>
	
	<!-- 정모 참가 -->
	<insert id="appointmentParticipation">
		INSERT INTO	TEAMB_PARTICIPANTS (MEETING_NUM,
										APPOINTMENT_NUM,
										PARTICIPANTS_NUM,
										USERID)
		VALUES	(	#{meeting_num},
					#{appointment_num},
					#{participants_num},
					#{userid})
	</insert>
	
	<!-- 정모 참가자 명단 -->
	<select id="getParticipantsInfo" resultType="com.ync.project.domain.ParticipantsVO">
	<![CDATA[
		SELECT		MEETING_NUM,
					APPOINTMENT_NUM,
					PARTICIPANTS_NUM,
					USERID
		FROM		TEAMB_PARTICIPANTS
		WHERE		APPOINTMENT_NUM = #{appointment_num}
		ORDER BY	PARTICIPANTS_NUM
		]]>
	</select>
	
	<!-- 가장 큰 참가자 번호 -->
	<select id="getParticipantsNum" resultType="com.ync.project.domain.ParticipantsVO">
	<![CDATA[
		SELECT	PARTICIPANTS_NUM
		FROM	TEAMB_PARTICIPANTS
		WHERE	PARTICIPANTS_NUM = (SELECT	MAX(PARTICIPANTS_NUM)
									FROM	TEAMB_PARTICIPANTS)
		]]>
	</select>
	
	<!-- 정모 참가 인원수 -->
	<select id="getParticipantsCount"  resultType="int">
	<![CDATA[
		SELECT	COUNT(*)
		FROM	TEAMB_PARTICIPANTS
		WHERE	APPOINTMENT_NUM = #{appointment_num}
		]]>
	</select>
	
	<!-- 글 목록 페이징 -->
	<select id="getListWithPaging" resultType="com.ync.project.domain.AppointmentVO">
		<![CDATA[
		SELECT	meeting_num,
				appointment_num,
				appointment_date,
				appointment_place,
				max_people,
				title,
				contents,
				userid,
				write_date
		FROM	(SELECT /*+INDEX_DESC(teamb_appointment xpkteamb_appointment) */
        				rownum rn,
        				meeting_num,
        				appointment_num,
						appointment_date,
						appointment_place,
						max_people,
						title,
						contents,
						userid,
						write_date
      			FROM	teamb_appointment
				WHERE   meeting_num = #{meeting_num}
				AND 
				]]>
		<include refid="criteria"></include> 
      
		<![CDATA[  
      			rownum <= #{cri.pageNum} * #{cri.amount}
      			) 
  				WHERE rn > (#{cri.pageNum} -1) * #{cri.amount}
  		  		AND   meeting_num = #{meeting_num}
  		]]>
	</select>


	<select id="getTotalCount" resultType="int">
		SELECT	count(*)
		FROM	teamb_appointment
		WHERE
		<include refid="criteria"></include> 
			   meeting_num = #{meeting_num}
		AND    appointment_num > 0
	</select>
	
	<!-- 모임장 확인 -->
	<select id="meetingLeaderCheck" resultType="com.ync.project.domain.Meeting_MemberVO">
	<![CDATA[
		SELECT		userid
		FROM		teamb_meeting_member
		WHERE		join_date = (	SELECT	MIN(join_date)
									FROM	teamb_meeting_member
									WHERE	meeting_num = #{meeting_num})
		]]>
	</select>
	
</mapper>
